skill_dirs:
  - "ops"
  - "graph"
  - "model"
  - "infra"
skill_whitelist:
  - "pypto-op-design"
  - "ascendc-task-focus"
  - "cann-env-setup"
  - "ascendc-env-check"
  - "gitcode-issue-gen"
  - "ascendc-docs-gen"
  - "ascendc-ut-develop"
  - "ascendc-direct-invoke-to-registry-invoke"
team_dirs:
  - "plugins-official"
  - "plugins-community"
team_whitelist:
  - "ops-direct-invoke"
